/* src/index.css */

/* Remove margens e paddings padrão do navegador */
body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: #f4f6f8; /* Um fundo cinza claro para destacar o conteúdo */
}